@charset "UTF-8";
/* Slider */
/* line 3, ../scss/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, ../scss/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 24, ../scss/_slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 28, ../scss/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 33, ../scss/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 42, ../scss/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 50, ../scss/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 56, ../scss/_slick.scss */
.slick-track:after {
  clear: both;
}
/* line 60, ../scss/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 64, ../scss/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 68, ../scss/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 71, ../scss/_slick.scss */
.slick-slide img {
  display: block;
}
/* line 74, ../scss/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 80, ../scss/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 84, ../scss/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 88, ../scss/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 92, ../scss/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 98, ../scss/_slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 45, ../scss/_slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('../fonts/slick.eot?1507052969');
  src: url('../fonts/slick.eot?&1507052969#iefix') format("embedded-opentype"), url('../fonts/slick.woff?1507052969') format("woff"), url('../fonts/slick.ttf?1507052969') format("truetype"), url('../fonts/slick.svg?1507052969#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* line 63, ../scss/_slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
/* line 81, ../scss/_slick-theme.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 85, ../scss/_slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 89, ../scss/_slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
/* line 92, ../scss/_slick-theme.scss */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 103, ../scss/_slick-theme.scss */
.slick-prev {
  left: -25px;
}
/* line 105, ../scss/_slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 109, ../scss/_slick-theme.scss */
.slick-prev:before {
  content: "←";
}
/* line 111, ../scss/_slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 117, ../scss/_slick-theme.scss */
.slick-next {
  right: -25px;
}
/* line 119, ../scss/_slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 123, ../scss/_slick-theme.scss */
.slick-next:before {
  content: "→";
}
/* line 125, ../scss/_slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 133, ../scss/_slick-theme.scss */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

/* line 137, ../scss/_slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 146, ../scss/_slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 154, ../scss/_slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 166, ../scss/_slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 168, ../scss/_slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 172, ../scss/_slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 189, ../scss/_slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway-Bold.eot?1498978308');
  src: url('../fonts/Raleway-Bold.eot?&1498978308#iefix') format('embedded-opentype'), url('../fonts/Raleway-Bold.eot?1498978308') format('embedded-opentype'), url('../fonts/Raleway-Bold.woff?1498978308') format('woff'), url('../fonts/Raleway-Bold.ttf?1498978308') format('truetype'), url('../fonts/Raleway-Bold.svg?1498978310') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway-Medium.eot?1498978312');
  src: url('../fonts/Raleway-Medium.eot?&1498978312#iefix') format('embedded-opentype'), url('../fonts/Raleway-Medium.eot?1498978312') format('embedded-opentype'), url('../fonts/Raleway-Medium.woff?1498978314') format('woff'), url('../fonts/Raleway-Medium.ttf?1498978312') format('truetype'), url('../fonts/Raleway-Medium.svg?1498978314') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway-SemiBold.eot?1498978308');
  src: url('../fonts/Raleway-SemiBold.eot?&1498978308#iefix') format('embedded-opentype'), url('../fonts/Raleway-SemiBold.eot?1498978308') format('embedded-opentype'), url('../fonts/Raleway-SemiBold.woff?1498978308') format('woff'), url('../fonts/Raleway-SemiBold.ttf?1498978308') format('truetype'), url('../fonts/Raleway-SemiBold.svg?1498978308') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway-Regular.eot?1498978310');
  src: url('../fonts/Raleway-Regular.eot?&1498978310#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.eot?1498978310') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff?1498978310') format('woff'), url('../fonts/Raleway-Regular.ttf?1498978310') format('truetype'), url('../fonts/Raleway-Regular.svg?1498978312') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../scss/style.scss */
html, body {
  height: 100%;
}

/* line 11, ../scss/style.scss */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, ../scss/style.scss */
body {
  font-family: "Raleway", Arial, Helvetica, sans serif;
  background: #f1f4f9;
  font-size: 14px;
  color: #707070;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@media (max-width: 1024px) {
  /* line 17, ../scss/style.scss */
  body {
    font-size: 14px;
  }
}

/* line 28, ../scss/style.scss */
::-moz-selection {
  background: #282828;
  color: #fff;
}

/* line 29, ../scss/style.scss */
::selection {
  background: #282828;
  color: #fff;
}

/* line 37, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #282828;
}
/* line 32, ../scss/style.scss */
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection {
  background: #c0df81;
  color: #fff;
}
/* line 33, ../scss/style.scss */
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background: #c0df81;
  color: #fff;
}

/* line 42, ../scss/style.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 47, ../scss/style.scss */
.main-heading {
  font-size: 1.857em;
  color: #282828;
  margin-bottom: 35px;
}
/* line 51, ../scss/style.scss */
.main-heading.less-b-m {
  margin-bottom: 10px;
}

/* line 57, ../scss/style.scss */
.sub-heading {
  color: #6a7587;
}

/*----------COMMON ELEMENTS STARTS -------*/
/* line 70, ../scss/style.scss */
a {
  color: #282828;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
/* line 73, ../scss/style.scss */
a:hover, a:focus, a:active {
  text-decoration: none;
  color: #282828;
}

/* line 78, ../scss/style.scss */
.reg {
  font-weight: 300;
}
/* line 80, ../scss/style.scss */
.reg span {
  font-weight: bold;
  font-style: italic;
  color: #ffbd1a;
}

/* line 86, ../scss/style.scss */
b, strong {
  font-weight: 600;
}

/* line 91, ../scss/style.scss */
.pb-20 {
  padding-bottom: 20px;
}

/* line 95, ../scss/style.scss */
.pt-20 {
  padding-top: 20px;
}

/* line 99, ../scss/style.scss */
.main-menu .navbar {
  padding: 0;
}

/* line 103, ../scss/style.scss */
.common-heading {
  font-size: 2.500em;
  font-weight: 600;
  margin-bottom: 4rem;
}
@media (max-width: 1024px) {
  /* line 103, ../scss/style.scss */
  .common-heading {
    font-size: 2em;
    margin-bottom: 2rem;
  }
}

/* custom icon fonts */
/* line 115, ../scss/style.scss */
.ra-icon {
  font-family: "rafont";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* All custom buttons */
/* line 154, ../scss/style.scss */
.btn-white-int {
  border: 1px solid #d0dae4;
  font-size: 14px;
  font-weight: 500;
}
/* line 158, ../scss/style.scss */
.btn-white-int:hover, .btn-white-int:focus {
  background: #d0dae4;
  text-decoration: none !important;
  color: #282828 !important;
}

/* line 165, ../scss/style.scss */
.btn-green {
  background: #c0df81;
  font-size: 14px;
  font-weight: 600;
  color: #282828;
}
/* line 170, ../scss/style.scss */
.btn-green:hover, .btn-green:focus {
  background: #accf64;
}

/* line 175, ../scss/style.scss */
.submit-btn {
  background: #accf64;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  padding: 10px 35px;
}

/*custom-checkbox*/
/* line 184, ../scss/style.scss */
.visibility {
  display: block;
  text-align: center;
}
/* line 188, ../scss/style.scss */
.visibility input:focus {
  outline: none;
}

/* line 193, ../scss/style.scss */
.checkbox-custom {
  opacity: 0;
  position: absolute;
}

/* line 198, ../scss/style.scss */
.checkbox-custom, .checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

/* line 205, ../scss/style.scss */
.checkbox-custom-label {
  position: relative;
}

/* line 209, ../scss/style.scss */
.checkbox-custom + .checkbox-custom-label:before {
  content: '\e805';
  font-family: "rafont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  color: #d0dae4;
  vertical-align: middle;
  width: 20px;
  line-height: 10px;
  font-size: 2em;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

/* line 226, ../scss/style.scss */
.checkbox-custom:checked + .checkbox-custom-label:before {
  color: #dc3545;
}

/* line 230, ../scss/style.scss */
.checkbox-custom:focus + .checkbox-custom-label {
  outline: 1px solid #ddd;
  /* focus style */
}

/* Hide the browser's default radio button */
/* line 236, ../scss/style.scss */
.custom-radio {
  /* Create a custom radio button */
}
/* line 237, ../scss/style.scss */
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* line 245, ../scss/style.scss */
.custom-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #98a6ad;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* line 259, ../scss/style.scss */
.custom-radio:hover input ~ .checkmark {
  background-color: #ccc;
  border: none;
}

/* When the radio button is checked, add a blue background */
/* line 265, ../scss/style.scss */
.custom-radio input:checked ~ .checkmark {
  background-color: #c0df81;
  border: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
/* line 271, ../scss/style.scss */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
/* line 278, ../scss/style.scss */
.custom-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
/* line 283, ../scss/style.scss */
.custom-radio .checkmark:after {
  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
}

/*Extend/Inheritance*/
/* line 295, ../scss/style.scss */
.header .top-header .top-header-nav .nav-item .dropdown-toggle:before {
  content: "";
  display: block;
  position: absolute;
}

/*top header begain*/
/* line 304, ../scss/style.scss */
.header {
  margin-bottom: 40px;
}
/* line 306, ../scss/style.scss */
.header .top-header {
  background: #fff;
  padding: 1rem 0;
}
@media (max-width: 991px) {
  /* line 309, ../scss/style.scss */
  .header .top-header .sm-align-center {
    text-align: center;
  }
}
/* line 314, ../scss/style.scss */
.header .top-header .top-header-nav {
  justify-content: flex-end;
}
@media (max-width: 991px) {
  /* line 314, ../scss/style.scss */
  .header .top-header .top-header-nav {
    justify-content: center;
    margin-top: 20px;
  }
}
/* line 321, ../scss/style.scss */
.header .top-header .top-header-nav .nav-item .nav-link {
  font-weight: 600;
  position: relative;
  z-index: 1;
}
/* line 327, ../scss/style.scss */
.header .top-header .top-header-nav .nav-item .dropdown-toggle:after {
  display: none;
}
/* line 330, ../scss/style.scss */
.header .top-header .top-header-nav .nav-item .dropdown-toggle:before {
  height: 52px;
  width: 52px;
  background: #f1f4f9;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  left: 0;
  top: 50%;
  margin-top: -25px;
  z-index: -1;
}
/* line 344, ../scss/style.scss */
.header .top-header .form-inline {
  display: inline-block;
}
@media (max-width: 767px) {
  /* line 344, ../scss/style.scss */
  .header .top-header .form-inline {
    margin-top: 15px;
  }
}
/* line 351, ../scss/style.scss */
.header .main-navigation {
  overflow: hidden;
  background: #282828;
}
/* line 354, ../scss/style.scss */
.header .main-navigation .bg-dark {
  background-color: #282828 !important;
}
/* line 357, ../scss/style.scss */
.header .main-navigation .navbar {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 991px) {
  /* line 357, ../scss/style.scss */
  .header .main-navigation .navbar {
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  /* line 357, ../scss/style.scss */
  .header .main-navigation .navbar {
    padding: 0rem;
  }
}
/* line 366, ../scss/style.scss */
.header .main-navigation .navbar .navbar-toggler {
  background: transparent;
  border: 0;
}
/* line 369, ../scss/style.scss */
.header .main-navigation .navbar .navbar-toggler:hover, .header .main-navigation .navbar .navbar-toggler:focus {
  outline: none;
}
/* line 371, ../scss/style.scss */
.header .main-navigation .navbar .navbar-toggler:hover .bar, .header .main-navigation .navbar .navbar-toggler:focus .bar {
  background: #c0df81;
}
/* line 373, ../scss/style.scss */
.header .main-navigation .navbar .navbar-toggler:hover .bar:nth-child(2), .header .main-navigation .navbar .navbar-toggler:focus .bar:nth-child(2) {
  margin-left: 5px;
}
/* line 378, ../scss/style.scss */
.header .main-navigation .navbar .navbar-toggler .bar {
  width: 30px;
  height: 1px;
  background: #FFFFFF;
  display: block;
  transition: all .4s ease;
}
/* line 384, ../scss/style.scss */
.header .main-navigation .navbar .navbar-toggler .bar + .bar {
  margin-top: 6px;
}
/* line 387, ../scss/style.scss */
.header .main-navigation .navbar .navbar-toggler .bar:nth-child(2) {
  width: 25px;
}
@media (min-width: 992px) {
  /* line 393, ../scss/style.scss */
  .header .main-navigation .navbar .navbar-nav .post-job {
    position: relative;
  }
  /* line 396, ../scss/style.scss */
  .header .main-navigation .navbar .navbar-nav .post-job:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #c0df81;
    left: 100%;
    width: 95vh;
  }
}
/* line 408, ../scss/style.scss */
.header .main-navigation .navbar .navbar-nav .post-job .nav-link {
  background: #c0df81;
  color: #282828;
  font-weight: bold;
}
@media (max-width: 991px) {
  /* line 408, ../scss/style.scss */
  .header .main-navigation .navbar .navbar-nav .post-job .nav-link {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* line 418, ../scss/style.scss */
.header .main-navigation .navbar .navbar-nav .nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 991px) {
  /* line 418, ../scss/style.scss */
  .header .main-navigation .navbar .navbar-nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 992px) {
  /* line 418, ../scss/style.scss */
  .header .main-navigation .navbar .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
  }
}
/* line 431, ../scss/style.scss */
.header .main-navigation .navbar .navbar-nav .active .nav-link {
  color: #c0df81;
}
@media (min-width: 992px) {
  /* line 430, ../scss/style.scss */
  .header .main-navigation .navbar .navbar-nav .active {
    position: relative;
  }
  /* line 436, ../scss/style.scss */
  .header .main-navigation .navbar .navbar-nav .active:before {
    content: "";
    display: block;
    position: absolute;
    width: 36px;
    height: 10px;
    background: url(../img/triangle-up-active.svg) center center no-repeat;
    bottom: 0px;
    z-index: 1;
    left: 50%;
    margin-left: -18px;
  }
}

/*custom-tab begain*/
/* line 458, ../scss/style.scss */
.custom-tab {
  margin-bottom: 15px;
}
/* line 462, ../scss/style.scss */
.custom-tab .nav-item .nav-link.active {
  background: #c0df81;
  color: #282828;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
/* line 468, ../scss/style.scss */
.custom-tab .nav-item .nav-link {
  color: #6a7587;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 560px) {
  /* line 468, ../scss/style.scss */
  .custom-tab .nav-item .nav-link {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
  }
}
/* line 480, ../scss/style.scss */
.custom-tab .nav-item .nav-link:hover, .custom-tab .nav-item .nav-link:focus {
  color: #282828;
}

/*Job Listing begain*/
/* line 489, ../scss/style.scss */
.job-left-border {
  border-left: 1px dashed #d0dae4;
}

/* line 493, ../scss/style.scss */
.job-right-border {
  border-right: 1px dashed #d0dae4;
}
@media (max-width: 767px) {
  /* line 493, ../scss/style.scss */
  .job-right-border {
    border-right: none;
    border-bottom: 1px dashed #d0dae4;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

/* line 504, ../scss/style.scss */
.listing-wrapper {
  background: #fff;
  -moz-box-shadow: 5px 5px 19px #e4e7ec;
  -webkit-box-shadow: 5px 5px 19px #e4e7ec;
  box-shadow: 5px 5px 19px #e4e7ec;
  margin-bottom: 20px;
}
/* line 508, ../scss/style.scss */
.listing-wrapper .listing-form {
  background: #d0dae4;
  padding: 15px;
}
@media (max-width: 767px) {
  /* line 508, ../scss/style.scss */
  .listing-wrapper .listing-form {
    padding: 15px 15px 0;
  }
  /* line 513, ../scss/style.scss */
  .listing-wrapper .listing-form .xs-b-mar {
    margin-bottom: 15px;
  }
}
/* line 517, ../scss/style.scss */
.listing-wrapper .listing-form label {
  font-weight: 600;
  color: #282828;
  text-align: right;
}
/* line 522, ../scss/style.scss */
.listing-wrapper .listing-form .form-control, .listing-wrapper .listing-form .custom-select {
  border: none;
}
@media (min-width: 767px) {
  /* line 525, ../scss/style.scss */
  .listing-wrapper .listing-form .form-group {
    margin-bottom: 0;
  }
}
/* line 531, ../scss/style.scss */
.listing-wrapper .job-list {
  padding: 20px 15px;
}
/* line 532, ../scss/style.scss */
.listing-wrapper .job-list + .job-list {
  border-top: 1px solid #d0dae4;
}
/* line 537, ../scss/style.scss */
.listing-wrapper .job-list .job-title-name h3 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 768px) {
  /* line 537, ../scss/style.scss */
  .listing-wrapper .job-list .job-title-name h3 {
    display: inline-block;
  }
}
/* line 545, ../scss/style.scss */
.listing-wrapper .job-list .job-title-name span {
  color: #6a7587;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
/* line 550, ../scss/style.scss */
.listing-wrapper .job-list .job-title-name span b {
  font-weight: bold;
}
/* line 555, ../scss/style.scss */
.listing-wrapper .job-list .job-detail-mini {
  margin-top: 10px;
}
/* line 557, ../scss/style.scss */
.listing-wrapper .job-list .job-detail-mini ul {
  padding-left: 0;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
}
@media (min-width: 569px) {
  /* line 557, ../scss/style.scss */
  .listing-wrapper .job-list .job-detail-mini ul {
    flex-direction: row;
    display: flex;
  }
}
/* line 566, ../scss/style.scss */
.listing-wrapper .job-list .job-detail-mini ul li {
  position: relative;
  font-family: Arial, Helvetica, sans serif !important;
  font-weight: 600;
  color: #282828;
}
/* line 568, ../scss/style.scss */
.listing-wrapper .job-list .job-detail-mini ul li.icon-link {
  padding-left: 35px !important;
}
/* line 571, ../scss/style.scss */
.listing-wrapper .job-list .job-detail-mini ul li i {
  font-size: 21px;
  margin-right: 10px;
  color: #d0dae4;
  position: absolute;
  left: 0;
}
@media (min-width: 569px) {
  /* line 566, ../scss/style.scss */
  .listing-wrapper .job-list .job-detail-mini ul li {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* line 585, ../scss/style.scss */
.listing-wrapper .job-list .job-detail-mini ul li a {
  color: #282828;
}
/* line 587, ../scss/style.scss */
.listing-wrapper .job-list .job-detail-mini ul li a:hover, .listing-wrapper .job-list .job-detail-mini ul li a:focus {
  color: #2f6fc5;
  text-decoration: underline;
}
/* line 592, ../scss/style.scss */
.listing-wrapper .job-list .job-detail-mini ul li span {
  color: #6a7587;
  font-weight: normal;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  /* line 592, ../scss/style.scss */
  .listing-wrapper .job-list .job-detail-mini ul li span {
    display: block;
  }
}
@media (min-width: 569px) {
  /* line 600, ../scss/style.scss */
  .listing-wrapper .job-list .job-detail-mini ul li:first-child {
    padding-left: 0;
  }
}
@media (min-width: 569px) {
  /* line 605, ../scss/style.scss */
  .listing-wrapper .job-list .job-detail-mini ul li + li {
    border-left: 1px dashed #d0dae4;
  }
}
@media (max-width: 568px) {
  /* line 605, ../scss/style.scss */
  .listing-wrapper .job-list .job-detail-mini ul li + li {
    border-left: none;
    margin-top: 15px;
  }
}
/* line 616, ../scss/style.scss */
.listing-wrapper .job-list .job-detail-mini .interview-link {
  color: #2f6fc5;
  text-decoration: underline;
}

/*pagination begain*/
/* line 626, ../scss/style.scss */
.custom-pagition {
  background: #fff;
  padding: 20px 0;
  -moz-box-shadow: 5px 5px 19px #e4e7ec;
  -webkit-box-shadow: 5px 5px 19px #e4e7ec;
  box-shadow: 5px 5px 19px #e4e7ec;
  text-align: center;
}
/* line 631, ../scss/style.scss */
.custom-pagition .pagination {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
/* line 637, ../scss/style.scss */
.custom-pagition .pagination > .disabled > a {
  color: #e2e2e2 !important;
}
/* line 642, ../scss/style.scss */
.custom-pagition .pagination > .active > a {
  background: #c0df81;
  color: #282828;
  height: 32px;
  width: 32px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 0;
  text-align: center;
  line-height: 37px;
}
/* line 651, ../scss/style.scss */
.custom-pagition .pagination > .active > a:hover {
  background: #c0df81;
  color: #fff;
}
/* line 655, ../scss/style.scss */
.custom-pagition .pagination > .active > a:hover, .custom-pagition .pagination > .active > a:focus {
  color: #282828;
}
/* line 661, ../scss/style.scss */
.custom-pagition .pagination > li:focus {
  outline: none;
}
/* line 664, ../scss/style.scss */
.custom-pagition .pagination > li > a {
  border: none;
  color: #282828;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 664, ../scss/style.scss */
  .custom-pagition .pagination > li > a {
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
  }
}
/* line 675, ../scss/style.scss */
.custom-pagition .pagination > li > a:hover, .custom-pagition .pagination > li > a:focus {
  background: transparent;
  color: #c0df81;
  outline: none;
  box-shadow: none;
}

/*submit job form begain*/
/* line 691, ../scss/style.scss */
.submit-button-wrap {
  background: #d0dae4;
  padding: 20px;
  text-align: right;
}

/* line 696, ../scss/style.scss */
.job-submit-wrap {
  background: #fff;
  -moz-box-shadow: 5px 5px 19px #e4e7ec;
  -webkit-box-shadow: 5px 5px 19px #e4e7ec;
  box-shadow: 5px 5px 19px #e4e7ec;
  margin-bottom: 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 701, ../scss/style.scss */
.job-submit-wrap .form-sec-wrapper {
  padding: 20px 20px 10px;
  border-bottom: 1px solid #eee;
}

/* line 709, ../scss/style.scss */
.submit-form label {
  color: #282828;
  font-size: 1.286em;
  font-weight: bold;
  line-height: 26px;
}
@media (max-width: 991px) {
  /* line 709, ../scss/style.scss */
  .submit-form label {
    font-size: 1em;
  }
}
/* line 718, ../scss/style.scss */
.submit-form .add-more {
  text-align: right;
  margin-bottom: 10px;
}
/* line 721, ../scss/style.scss */
.submit-form .add-more a {
  font-size: 1.143em;
  color: #282828;
  display: inline-block;
  padding: 8px 8px 8px 35px;
  font-weight: 600;
  background: #c0df81;
  text-align: left;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  position: relative;
}
/* line 731, ../scss/style.scss */
.submit-form .add-more a:hover, .submit-form .add-more a:focus {
  background: #accf64;
}
/* line 734, ../scss/style.scss */
.submit-form .add-more a:before {
  content: "\e800";
  font-family: "rafont";
  display: block;
  position: absolute;
  left: 10px;
}
/* line 744, ../scss/style.scss */
.submit-form .input-group .input-group-text {
  padding-left: 6px;
  border-right: 0;
  background: transparent;
}
/* line 749, ../scss/style.scss */
.submit-form .input-group i {
  color: #d0dae4;
  font-size: 23px;
  margin-left: 0;
}
/* line 754, ../scss/style.scss */
.submit-form .input-group .form-control {
  border-left: 0;
}
/* line 758, ../scss/style.scss */
.submit-form .inline-custom-label {
  margin-right: 20px;
}
@media (max-width: 767px) {
  /* line 758, ../scss/style.scss */
  .submit-form .inline-custom-label {
    display: block;
    margin-right: 0;
  }
}
/* line 765, ../scss/style.scss */
.submit-form .form-check-label {
  color: #707070 !important;
  font-weight: normal !important;
  padding-left: 30px;
  font-size: 14px;
  line-height: 26px;
}
/* line 771, ../scss/style.scss */
.submit-form .form-check-label .form-check-input {
  position: absolute;
  margin-right: 1.2rem;
}
/* line 778, ../scss/style.scss */
.submit-form .paraia-multi-select > .selected-items > .item {
  background-color: #c0df81 !important;
  color: #282828;
}
/* line 781, ../scss/style.scss */
.submit-form .paraia-multi-select > .selected-items > .item > button {
  color: #282828;
}
/* line 789, ../scss/style.scss */
.submit-form .paraia-multi-select > .dropdown > .items > .item:hover {
  background-color: #c0df81;
}
/* line 795, ../scss/style.scss */
.submit-form .paraia-multi-select .form-control {
  height: auto !important;
}
/* line 797, ../scss/style.scss */
.submit-form .paraia-multi-select .form-control .custom-checkbox {
  padding-right: 0 !important;
}
/* line 800, ../scss/style.scss */
.submit-form .paraia-multi-select .form-control .custom-control-label {
  color: #707070 !important;
  font-weight: normal !important;
  padding-right: 30px !important;
  font-size: 15px;
}

/*Footer begain*/
/* line 813, ../scss/style.scss */
.footer {
  background: #282828;
  padding: 4rem 0px 1rem;
  min-height: 400px;
  margin-top: 2rem;
  position: relative;
}
@media (max-width: 767px) {
  /* line 813, ../scss/style.scss */
  .footer {
    padding: 4rem 0px 1rem;
  }
}
@media (max-width: 991px) {
  /* line 823, ../scss/style.scss */
  .footer .container {
    max-width: 100%;
  }
}
/* line 827, ../scss/style.scss */
.footer .logo-wrap {
  border-bottom: 1px dashed #b5c1dc;
  padding-bottom: 15px;
}
/* line 830, ../scss/style.scss */
.footer .logo-wrap img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 827, ../scss/style.scss */
  .footer .logo-wrap {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    padding-bottom: 0;
  }
}
/* line 843, ../scss/style.scss */
.footer .footer-wrapper {
  position: relative;
}
/* line 846, ../scss/style.scss */
.footer .footer-list-wrapp {
  padding-left: 185px;
}
@media (max-width: 1200px) {
  /* line 846, ../scss/style.scss */
  .footer .footer-list-wrapp {
    padding-left: 150px;
  }
}
@media (max-width: 767px) {
  /* line 846, ../scss/style.scss */
  .footer .footer-list-wrapp {
    padding-left: 0;
    margin-top: 20px;
  }
}
/* line 855, ../scss/style.scss */
.footer .footer-list-wrapp h3 {
  font-size: 1.375em;
  color: #fff;
  font-weight: 600;
}
/* line 860, ../scss/style.scss */
.footer .footer-list-wrapp ul {
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}
@media (max-width: 767px) {
  /* line 860, ../scss/style.scss */
  .footer .footer-list-wrapp ul {
    margin-bottom: 40px;
    margin-top: 10px;
  }
}
/* line 868, ../scss/style.scss */
.footer .footer-list-wrapp ul li {
  margin: 13px 0;
}
@media (max-width: 767px) {
  /* line 868, ../scss/style.scss */
  .footer .footer-list-wrapp ul li {
    margin: 8px 0;
  }
}
/* line 873, ../scss/style.scss */
.footer .footer-list-wrapp ul li a {
  color: #fff;
  line-height: 1.5;
}
/* line 876, ../scss/style.scss */
.footer .footer-list-wrapp ul li a:hover, .footer .footer-list-wrapp ul li a:focus {
  color: #c0df81;
}
/* line 883, ../scss/style.scss */
.footer .web-info {
  border-top: 1px dashed #d3d6de;
  padding-top: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 14px;
}
/* line 889, ../scss/style.scss */
.footer .web-info a {
  color: #fff;
  text-decoration: underline;
}
/* line 892, ../scss/style.scss */
.footer .web-info a:hover, .footer .web-info a:focus {
  color: #c0df81;
}

/* line 900, ../scss/style.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
