$white:#fff;
$black:#000;
$primary:#c0df81;
$primaryDark:#accf64;
$secondary:#282828;
$secondaryDark:#151515;
$font:'Raleway', Arial, Helvetica, sans serif;
$font-normal:Arial, Helvetica, sans serif;
$bodyText:#707070;
$headingText:#282828;
$bodyBg:#f1f4f9;
$darkBg:#d0dae4;
$darkGrey:#6a7587;
$blue:#2f6fc5;